<div class="presentation">
    <h1>Bienvenido a Nuestra Cafetería</h1>
    <p>
      Disfruta de nuestro acogedor ambiente y deliciosas bebidas mientras trabajas o te relajas. En nuestra cafetería, nos
      esforzamos por ofrecer la mejor experiencia de café, acompañada de opciones deliciosas y saludables.
    </p>
    <div class="image-container right">
      <img src="prive03.jpg" alt="Cafetería Imagen 1" />
    </div>
    <p>
      Nuestro menú incluye una amplia variedad de cafés, tés y delicias frescas. Desde exquisitos cafés de especialidad hasta
      opciones vegetarianas y veganas, tenemos algo para cada paladar.
    </p>
    <div class="image-container left">
      <img src="prive04.jpg" alt="Cafetería Imagen 2" />
    </div>
    <p>
      ¡Esperamos verte pronto y brindarte una experiencia única de café y alimentos en nuestra cafetería!
    </p>
  </div>