<div class="presentation">
  <h1 class="title" translate="presentation.title"></h1>
  <div class="presentation-content">
    <div class="double-image-container">
      <img class="mainImage" [src]="getImageUrl('prive04.jpg')" alt="Cafetería Imagen 1" />
      <img class="complementImage" [src]="getImageUrl('cofeeWithCroassant.png')" alt="Cafetería Imagen 2" />
    </div>
    <div class="presentation-text">
      <h3 translate="presentation.textTitle"></h3>
      <p translate="presentation.text"></p>
    </div>
  </div>
</div>