<!-- <form action="">
    <div *ngFor="let meal of meals; let i = index" class="flex">
        <div>
            <label for="{{meal+i}}">{{'menu.dishInputPlaceholder' | translate}}: </label>
            <input placeholder="{{'menu.dishInputPlaceholder' | translate}}" 
                value="{{meal}}"
                id="{{meal+'-'+i}}" 
                class="styled-input resize-input" 
                type="text" 
                (input)="resizeInput(meal+'-'+i)"/>
        </div>
        <button>Borrar</button>
    </div>
</form> -->

<div class="tabs-container verticalFlex">
  <div class="tabs">
    <div *ngFor="let tab of tabs; let i = index" class="tab" [class.active]="i === activeTab" (click)="changeTab(i)">
      {{ tab | translate }}
    </div>
  </div>
</div>
<div class="tab-content verticalFlex" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTab">
  <div *ngIf="i === activeTab">
    <app-extensible-form [inputsArray]="defaultValues[i]"></app-extensible-form>
  </div>
</div>